/*
* ===================================================
*     Back to top
* ===================================================
*/

.back-to-top {
  background: $dark;
  color: $white;
  border-radius: 50%;
  width: 2.71428571rem;
  height: 2.71428571rem;
  justify-content: center;
  align-items: center;

  &.on-up {
    transition: all .25s ease;
    position: fixed;
    bottom: 25px;
    right: -100px;
    cursor: pointer;
    z-index: 1;

    &.active {
      right: 15px;

      &:hover {
        right: 15px;
        bottom: 30px;
      }
    }
  }
}