.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  h2,h3,h4,h5 {
    margin-top: 0;
    margin-bottom: .25rem
  }
  p:last-child {
    margin-bottom: 0
  }
  code {
    border-radius: .25rem
  }
  @each $color, $value in $theme-colors {

    &.bd-callout-#{$color} {
      border-left-color: #{$value};
      h2, h3, h4, h5 {
        color: #{$value};
      }
    }
  }
}

