.nav {

  .nav-item {
    .nav-link {
      font-size: 0.875rem;
      font-weight: $font-weight-normal;
      text-transform: uppercase;
    }
  }

  &.nav-dark {
    .nav-item {
      .nav-link {
        color: $white !important;
      }
    }
  }

  &.nav-no-gutters {
    .nav-link {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.nav-tabs {
    border-bottom: 0;

    .nav-item {
      margin-right: .25rem;
      .nav-link {
        font-weight: 700;
        color: $gray-900;
        text-transform: none;
        &.active {
          background-color: $gray-200;
          border-color: $gray-200;
        }
        &:hover {
          background-color: $gray-200;
          border-color: $gray-200;
        }
      }
    }
    &.nav-pills {
      .nav-link {
        font-weight: 700;
        color: $gray-900;
        &:hover {
          background-color: transparent;
          border-color: transparent;
        }
        &.active {
          background-color: transparent;
          border: none;
          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: $success;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }

  &.nav-pills {
    &.nav-fill {
      .nav-item {
        flex: 0 1 auto;
        &:not(:last-child) {
          padding-right: 0.5rem;
        }
        padding-bottom: 0.5rem;
        .nav-link {
          font-size: .9375rem;
          font-weight: $font-weight-bold;
          text-transform: none;
          padding: .75rem 1.75rem;
          transition: all 0.3s ease;
          box-shadow: none;
          border: 1px solid;
          border-color: $light;
          border-radius: 5px !important;
          background-color: $light;
          color: $dark;
          &:hover {
            background-color: #e3e3e3;
            border-color: #e3e3e3;
          }
        }

      }
    }
  }
}

.navbar {
  .nav-item {
    .nav-link {
      display: block;
      font-weight: 600;
      font-size: 1rem;
      color: $dark;
      text-transform: uppercase;

      &:hover {
        color: $success;
      }
    }

    .dropdown-menu {
      box-shadow: $dropdown-box-shadow;
      padding: 1rem;
      border-top: 3px solid $green;
      .dropdown-item {
        padding: .5rem 1rem;
        color: $gray-900;
        &:hover {
          color: $success;
        }
      }
    }
  }
}

.nav-collapse {
  .nav-item {
    .nav-link {
      color: $white;
      font-weight: $font-weight-bold;
    }
  }

  .dropdown-toggle {
    &:after {
      color: $white !important;
    }
  }
}